.about__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.grid__container {
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    gap: 1rem;
    max-width: 50rem;
    margin: auto;
}

.text__area{
    width: 100%;
    height: auto;
    border: 1px solid var(--dark_blue);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
}

.img__area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}

.img__area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 696px) {
    .grid__container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(auto, 19rem);
    }

    #A {
        grid-row: 2;
        grid-column: 2;
      }
      
    #B {
        grid-row: 2;
        grid-column: 1;
      }
}