.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-margin-top: 3.5rem;
    padding: 0 2rem;
}

.swiper {
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

.swiper:last-of-type {
    margin-bottom: 0;
}

.card {
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 8px 8px 10px lightgray;
    text-align: center;
    /* MUDAR O TEXT ALIGN PARA CENTER NO SITE TODO */
}

.swiper-slide .description__container .text__primary {
    overflow-y: scroll;
    text-align: left;
    max-height: 6rem;
}

.swiper-slide .description__container .text__primary::-webkit-scrollbar {
  width: .4rem;
}

.swiper-slide .description__container .text__primary::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

.swiper-slide .description__container .text__primary::-webkit-scrollbar-thumb {
  background-color: var(--dry_blue); 
  border-radius: 1rem;
}

.swiper-slide .description__container .text__primary::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark_blue);
}

.img__container-service {
    max-height: 20rem;
    width: auto;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__container-service img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev::after {
    content: '\F12F';
    font-family: bootstrap-icons;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    color: var(--dark_blue);
}

.swiper-button-next::after {
    content: '\F138';
    font-family: bootstrap-icons;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    color: var(--dark_blue);
}

.swiper-pagination-bullet-active {
    background-color: var(--dry_green);
}

@media (min-width: 1000px) {
    .swiper {
        max-width: 1500px;
    }
}