.step-by-step__section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-margin-top: 3.5rem;
    padding: 0 2rem;
}

.steps__title {
    display: flex;
    flex-direction: column;
}

.steps__container {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
}

.step {
    padding: 1.5rem;
    max-width: 15rem;
    display: inherit;
    flex-direction: column;
    gap: 2rem;
}

.icon {
    color: white;
    background-color: var(--dry_blue);
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    align-self: center;
}